*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E8E1CF;
    height: 120px;
}

.navbar-left img {
    width: 90px;
    height: 90px;
    margin: 10px 30px; 
}

.navbar-right {
    display: flex;
    align-items: center;
    margin: 0 30px; 
}

.navbar-right a {
    text-decoration: none;
    color: #0C0507;  
    margin-right: 40px; 
    font-size: large;

    /* width: 150px;
    padding: 1% 0 1% 0;
    border: 1px solid black;
    border-radius: 50px;
    text-align: center; */
    
}

.navbar-right a:hover {
    color: #E53613;
    text-shadow: 1px 1px #0C0507;
}

.section-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E8E1CF; 
    border-radius: 150px 0 0 150px;
    margin-left: 20%;
  
}

.section-carousel-left img{
    width: 80%;
    height: 80%;
    margin: 10% 15% 0 15%;
    margin-left: -200px;
}

.section-carousel-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.section-carousel-right p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: medium;
    margin: 0px 100px 50px 100px;
    letter-spacing: 0.5px;
    color: #0C0507;
    font-size: 18px;
}

.section-carousel-right button{
    margin-top: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    background-color: #0C0507;
    border-radius: 50px;  
}

.section-carousel-right button:hover {
    background-color: #E53613;
    color: white;
    -o-transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.section-servicos {
    display: flex;
    flex-direction: column;
   
    margin-top: 3%;
}

.section-servicos h2 {
    text-align: center;
}

.section-servicos button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    background-color: #0C0507;
    border-radius: 50px;
}

.section-servicos button:hover {
    background-color: #E53613;
    color: white;
    -o-transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.servicos {
    display: flex;
    margin-top: 4%;
    margin-bottom: 3%;
    justify-content: space-evenly;
}

.servicos-modals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicos-modals img{
    height: 418px;
    width: 245px;
}
.servicos-modals img:hover {
    cursor: pointer;  
    border: 2px solid #0C0507;

}

.servicos-modals p{
    padding: 5%;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-size: 17px;
}

.button-more {
    display: flex;
    justify-content: center;
}

.section-faleConosco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}


.section-faleConosco h2{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    padding: 0 0 20px 0;
}

.form-split {
    display: flex;
    justify-content: space-between;
}
  
.form-test {
    display: flex;
    flex-direction: column;
}

.form-test label {
    padding: 10px 30px 0 30px;
}

.form-test label , button {
    font-family: 'Noto Sans', sans-serif;
}

#enviar {
    float: right;
    padding: 10px 0 10px 0;
}

#enviar button {
    text-align: center;
    width: 10em;
    height: 3em;
    cursor: pointer;
    color: white;
    border: 1px solid rgb(0, 0, 0);
    background-color: #0C0507;
    margin: 5px 30px 0 30px;

}

#enviar button:hover {
    background-color: #E53613;
    color: white;
    -o-transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}


input[type=text] {
    width: 40em ;
    height: 3em;
    margin: 5px 30px 0 30px;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
}

#servicos-select {
    width: 40em ;
    height: 3em;
    margin: 5px 30px 0 30px;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
}

textarea {
    height: 6em;
    vertical-align: top;
    resize: vertical;
    border: 1px solid rgb(0, 0, 0);
    margin: 5px 30px 0 30px;
    padding: 5px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E8E1CF;
    height: 180px;
    margin-left: -15%;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.logo-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-left img{
    width: 90px;
    height: 90px;
}

#title-footer{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: large;
    margin-left: 20px;
}

#adress {
    margin-top: 5px;
    margin-left: 125px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
}

.footer-right h3{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    text-align: center;
}

.redes-sociais {
    margin-top: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.redes-sociais img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.credits {
    background-color: #E8E1CF;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}
